body {
 background: #ffffff;
 margin: 20x;
 padding: 50px;
}

p {
 colour: #ffffff;
 background-color:;
 font-family: 'Oswald', sans-serif;
 font-size: 28px;
 text-align: center
}

h1 {
 font-family: 'Oswald', sans-serif;
 position: center;
 font-size: 70px;
 text-align: center;
}

h2 {
 font-family: 'Oswald', sans-serif;
 font-size: 40px;
}

h3 {
  font-size: 30px
}
li {
 font-family: 'Oswald', sans-serif;
  font-size: 25px;
}

.grid {
  font-family: 'Oswald', sans-serif;
  width: 1000x;
  height: 1600px;
  display: grid;
  grid-template-columns:33% 10% 30%;
  grid-template-rows:30% 30% 20;
}

.main image {
text-align: center;
}

.box {
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 50px
}

img {    
  height: 450px;
  width: 650px;  
}
hr {
  height: 0px;
  color: black;
}
