body {
 
}

p {
 colour: Green;
 background-colour: #8FBC8F;
 font-family: 'Oswald', sans-serif;
 font-size: 
}

h1 {
 font-family: 'Oswald', sans-serif;
 position: center;
 font-size: 28px;
 font-align: center;
}

li {
 font-family: 'Oswald', sans-serif;
}

.Causes {  
 font-family: 'Oswald', sans-serif;
}
