body {
 background-color: burlywood;
 margin: 20x;
 padding: 60px;
}

p {
 colour: #ffffff;
 background-color:;
 font-family: 'Oswald', sans-serif;
 font-size: 28px;
 text-align: center
}

h1 {
 font-family: 'Oswald', sans-serif;
 position: center;
 font-size: 70px;
 text-align: center;
 background-color: blanchedalmond;
}

h2 {
 font-family: 'Oswald', sans-serif;
 font-size: 60px;
 background-color: blanchedalmond;
 text-align: center
}

h3 {
  font-size: 35px;
  background-color: blanchedalmond;
  text-align: center;
}
li {
 font-family: 'Oswald', sans-serif;
  font-size: 35px;
  text-align: center;
}

.grid {
  font-family: 'Oswald', sans-serif;
  width: 1000x;
  height: 2000px;
  display: grid;
  grid-template-columns:40% 10% 30%;
  grid-template-rows:30% 30% 20;
  background-color: burlywood;
  
}

.main image {
text-align: center;
width: 700px;
height: 700px;
}

.box {
  background-color: white;
  color: black;
  border-radius: 5px;
  background-color: burlywood 
}

img {
  height:500px;
  width: 700px;
  text-align: center;
 }

hr {
  height: 0px;
  color: black;
}
.Causes {
  text-align: center;
  font-size: 30px;
}

.introduction {
  background-color: blanchedalmond; 
}
