body {
 background:
}

p {
 colour: ;
 background-colour: ;
 font-family: 'Oswald', sans-serif;
 font-size: 
}

h1 {
 font-family: 'Oswald', sans-serif;
 position: center;
 font-size: 40px;
 font-align: center;
}

h2 {
 font-family: 'Oswald', sans-serif;
 font-size: 20px;
}

li {
 font-family: 'Oswald', sans-serif;
}

.grid {
  font-family: 'Oswald', sans-serif;
  width: 1000x;
  height: 1200px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 33% 33% 33%;
}

.box {
  background-color:;
  color:;
  border-radius: ;
  border: ;
}

img {
 height:500px; 
 width:500px;
}
