body {
 background: #ffffff;
 margin: 10px;
 padding: 20px;
}

p {
 colour: #ffffff;
 background-color:;
 font-family: 'Oswald', sans-serif;
 font-size: 20px;
 text-align: center
}

h1 {
 font-family: 'Oswald', sans-serif;
 position: center;
 font-size: 60px;
 text-align: center;
}

h2 {
 font-family: 'Oswald', sans-serif;
 font-size: 25px;
}

li {
 font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

.grid {
  font-family: 'Oswald', sans-serif;
  width: 1000x;
  height: 1200px;
  display: grid;
  grid-template-columns: 33% 33%;
  grid-template-rows: 25% 25% 25%;
}

.main image {
text-align: center;
}

.box {
  background-color: white;
  color: black;
  border-radius: 20px
  border: 2px
}

img {
 height:400px; 
 width:500px;
 text-align: center;
}
